<%- include('header.ejs') %>

<div class="container">
    <section class="products">
        <h1 class="heading">Compra y vende artículos</h1>
        <ul class="list">
            <% products.forEach(product => { %>
                <li>
                    <div class="card">
                        <img src="<%= product.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.price %> $</h5>
                            <p class="card-text"><%= product.name %></p>
                            <p class="card-text"><%= product.username %></p>
                            <a href="#" class="btn btn-outline-success">Go somewhere</a>
                        </div>
                    </div>
                </li>
            <% }); %>
        </ul>
    </section>
</div>

<%- include('footer.ejs') %>